.header {
    background: #fff;
    box-shadow: 1px 1px 9px -7px #000;
    width: 950px;
    border-radius: 20px;
    margin: auto;
    transition: width 1.5s;
}
.header a {
    text-decoration: none;
    color: #696969;
    font-size: 18px;
    margin-right: 65px;
    padding: 13px 0px;
    display: inline-block;
    transition: color .3s;
}
.header a:hover {
    color: red;
}
.header a:first-child {
    margin-left: 36px;
}

.body {
    padding-top: 20px;
}
.container {
    max-width: 1200px;
    margin: auto;
}